.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--space-4);
  padding: 0;
  margin: 0;
  width: 100%;
}

@media (max-width: 810px) {
  .grid {
    grid-template-columns: 1fr;
    gap: var(--space-3);
  }
}

@media (min-width: 1200px) {
  .grid {
    gap: var(--space-6);
  }
}